@charset "UTF-8";
        body{background-color: aquamarine; font-family: Arial, Helvetica, sans-serif; text-align: justify; font-size: 20px;} 
        h1 {color: rgb(15, 66, 66); font-size: 1.8em;}
        h2 {color: rgb(59, 96, 97); font-size: 1.4em;}
        p {color: rgb(92, 91, 89) ;}
        